@{
    ViewData["Title"] = "Trang chủ Admin";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container my-5">
    <h2 class="fw-bold text-center">Chào mừng đến với <span class="text-highlight">Trang quản trị</span></h2>
    <p class="text-center">Quản lý sản phẩm, nhà cung cấp, và đơn hàng tại đây.</p>
</div>