@{
    ViewData["Title"] = "Giao dịch bị hủy";
}
<h2>Thanh toán chưa được thực hiện</h2>
<p>@ViewBag.Message</p>
<a class="dropdown-item" asp-area="" asp-controller="Customer" asp-action="TransactionHistory"><i class="bi bi-bag-check"></i> Đơn hàng từng mua</a>
